.so-widget-sow-headline-default-89d2cac84d47 #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #303030;
  line-height: 1.4;
}
.so-widget-sow-headline-default-89d2cac84d47 #sow-headline-container.sow-headline h6 {
  text-align: center;
  color: #7a7a7a;
  line-height: 1.4;
}
.so-widget-sow-headline-default-89d2cac84d47 #sow-headline-container.sow-headline .decoration {
  border-top: thin solid #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}